{% extends "base.html" %}

{% block content %}
<div class="column">
    <h3 class="title">The event</h3>

    <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent is-horizontal">
                    <div class="tile is-parent is-2">
                        <article class="tile is-child notification">
                            <div class="content text">
                                <p class="title">
                                    <i class="fa fa-location-dot fa-3x"></i>
                                </p>
                            </div>
                        </article>    
                    </div>
                    <div class="tile is-parent is-10">
                        <article class="tile is-child notification">
                            <div class="content text has-text-left">
                                <p class="title">
                                    <a href="https://goo.gl/maps/Va8rFG4QiS9QLV787" target="_blank">@Het Wapen van zoetemeer</a>
                                </p>
                                <p class="subtitle">
                                    All our event will be taken place at 'Het Wapen van Zoetemeer'.
                                </p>
                                    <!-- <div class="content">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4371.131537709507!2d4.516799393646732!3d52.05761670193687!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e5122d69dc9d6ea!2sHet%20Wapen%20van%20Zoetermeer!5e0!3m2!1sen!2snl!4v1668963678584!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div> -->
                            </div>
                        </article>    
                    </div>
                </div>             
                {% for _event in events %}
                <div class="tile is-parent is-horizontal">
                    <div class="tile is-parent is-2">
                        <article class="tile is-child notification">
                            <div class="content text">
                                <p class="title">
                                    <i class="{{ _event.icon }} fa-3x"></i>
                                </p>
                            </div>
                        </article>    
                    </div>
                    <div class="tile is-parent is-10">
                        <article class="tile is-child notification">
                            <div class="content text has-text-left">
                                <p class="title">
                                    {{ _event.name | capitalize }}
                                </p>
                                <p class="subtitle">
                                    <i class="fa-regular fa-clock"></i>
                                    {{ _event.start_time | format_datetime("%H:%M")}} - {{ events[0].start_time | format_datetime("%Y.%m.%d")}}
                                </p>
                                <div class="content">
                                    {{ _event.description }}
                                </div> 
                            </div>
                        </article>    
                    </div>
                </div>             
                {% endfor %}    
            </div>
        </div>
    </div>
</div>
{% endblock %}