body,
h1,
h2,
.title,
.subtitle,
.footer,
a.navbar-item {
    background-color: #EFE0CE;
    color: #495775;
    font-family: "Serif", serif;
}

.footer {
    padding: 3rem 1.5rem 3rem;
}

a.navbar-item:hover {
    background-color: #d4c6b5;
}

.tile .notification {
    background-color: #EFE0CE;
}

h1.title {
    font-size: 12rem;
    font-size: 15vw;
}

title.img {
    font-size: 20vw;
}

h2.subtitle {
    font-size: 4rem;
    font-size: 5vw;
}