{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Manage guests</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/admin/guests">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="max_guests" placeholder="Allowed guests">
                </div>
            </div>
            {% for event in events %}
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="{{ event.id }}">
                    {{event.name}}
                </label>
            </div>
            {% endfor %}
            <button class="button is-block is-info is-large is-fullwidth">Add Guest</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Guest(s)</th>
                <th><abbr title="Number of total guests">Max</abbr></th>
                {% for event in events %}
                    <th>{{ event.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for guest in guest_list %}
            <tr>
                <th>{{ guest["name"] }}</th>
                <th>{{ guest["max_adults"]}}</th>
                {% for inv in guest["invitations"] %}
                    <th>
                        <span class="icon">
                            {% if inv %}
                            Yay!
                            <i class="fas fa-home"></i>
                            {% else %}
                            Ney!
                            <i class="fas fa-train"></i>
                            {% endif %}
                        </span>                    
                    </th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </div>
</div>
{% endblock %}