{% extends "base.html" %}

{% block content %}
<div class="column">
    <h3 class="title">Your invitations</h3>

    <form method="UPDATE" action="/responses">
    {% for _invitation in user_invitations %}
        <label class="checkbox">
            <input type="checkbox" name="{{_invitation.event_name}}_accepted">
                {{ _invitation.event_name }}
        </label>
        <div class="field">
            <div class="control">
                <input class="input" type="text" name="{{_invitation.event_name}}_remarks" placeholder="Remarks">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="number" min="0" max="{{_invitation.max_adults}}" name="{{_invitation.event_name}}_total_adults" placeholder="Total adults">
            </div>  
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="number" min="0" name="{{_invitation.event_name}}_total_children" placeholder="Total children">
            </div>  
        </div>
    {% endfor %}
    <button class="button is-block is-info is-large is-fullwidth">Update invitation</button>
    </form>
</div>
{% endblock %}